.NavBar {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 8.8vh;
    min-height: 60px;
    border: 1px solid white;
}

.NavBarElement {
    min-height: 60px;
    min-width: 150px;
    color: white;
    padding-top: 10px;
    border-left: .5px solid white;
    border-right: .5px solid white;
    border-top: none;
    border-bottom: none;
}

.NavBarElementToday {
    color: black;
    background-color: white;
    pointer-events: none;
}
