.NavBar {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 8.8vh;
    min-height: 60px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
}

.NavBarElement {
    min-height: 60px;
    min-width: 150px;
    color: white;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    border-radius: 10px;
}

.NavBarElementToday {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    pointer-events: none;
}
