.container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 100;
    overflow: scroll;
}

.todoForm {
    position: relative;
    top: 30%;
    left: 30%;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 10px;
    height: 28vh;
    width: 40vw;
    min-width: 400px;
    z-index: 3;
    display: grid;
    grid-template-rows: 5vh auto;
    justify-content: center;
    min-height: 220px;
}


.tasks {
    border-radius: 5px;
    padding: 10px;
    width: 38svw;
    min-height: 200px;
    min-width: 380px;
}

.tasks h3 {
    font-size: 15px;
    min-height: 15px;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    margin-block-end: 0;
}

.inputTask {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.inputTask:focus {
    font-size: 20px;
    outline: none;
}

.tasks div {
    margin: 10px 0 0 0;
    padding: 2px;
}

.flags {
    display: flex;
    align-items: center;
    align-content: center;
}


.flagsButton {
    margin: 0 10px;
    padding: 0;
    height: 40px;
    width: 50px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.selectedFlag {
    background-color: #ebeceb;
}

.submit {
    display: flex;
    gap: 10px;
}

.submitTask {
    position: relative;
    background-color: black;
    font-size: 15px;
    padding: 7px 0;
    width: 100%;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.submitTask:hover {
    background-color: white;
    color: black;
}


