.calendarCard {
    height: 45vh;
    min-height: 300px;
    width: 33vw;
    min-width: 400px;
    background-color: white;
    display: grid;
    border-radius: 2px;
    position: fixed;
    top: 30%;
    left: 30%;
    right: 30%;
    justify-items: center;
    z-index: 99;
}

.topNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heading {
    margin: 0 25px;
    width: 100%;
}

.topNavBarButton {
}

.jumpButton {
    height: 5vh;
    min-height: 40px;
    width: 90%;
    background-color: black;
    margin-bottom: 20px;
    position: relative;
    top: 30%;
}

.calendarDates {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

.calendarDatesItems {
    padding-top: 10%;
    align-content: center;
    justify-content: center;
}

.presentDay {
    padding-top: 10%;
    background-color: black;
    color: white;
    border-radius: 5px;
}