
.heading {
    margin: 10px 30px 0 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 50px;
    color: white;
    padding: 0 5px;
}

.heading h3 {
    font-size: 25px;
}
