.tasks {
    height: 83.6875vh;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    min-width: 400px;
    background-color: black;
    border-radius: 10px;
}

.tasks * {
    margin-block-end: 0;
}


.heading {
    margin: 10px 30px 0 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 50px;
    color: white;
    padding: 0 5px;
}

.heading h3 {
    font-size: 25px;
}

.individualTask {
    position: static;
    color: white;
    display: grid;
    align-content: start;
    overflow-y: scroll;
    margin: 0 30px;
}

.addTaskContainer {
    display: grid;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    height: 11vh;
    min-height: 75px;
    margin: 10px 0 0 0;
}

.addTask {
    grid-template-columns: auto auto;
    padding: 0 10px;
    overflow-y: scroll;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: end;
}

.edit button {
    margin-left: 10px;
}

.editOptions {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.editOptions button {
    margin: 0 10px;
}