.mainBody {
    height: 83.6875vh;
    display: grid;
    grid-template-rows: auto auto;
    min-width: 400px;
    border-radius: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
