.NavBar {
    width: 100%;
    text-align: center;
    display: flex;
    background-color: black;
}

.NavBarElement {
    padding: 2%;
    color: white;
}

.NavBarElementToday {
    color: black;
    background-color: white;
    pointer-events: none;
}
